<h4>This is default date time in JS</h4>
<p>Date pipe JSON: {{date | json}}</p>
<p>Date: {{date}}</p>
<p>Date UTC: {{date.toUTCString()}}</p>
<p>Date toDateString: {{date.toDateString()}}</p>
<p>Date toLocaleString(): {{date.toLocaleString()}}</p>
<p>Date toLocaleDateString(): {{date.toLocaleDateString()}}</p>
<p>Date toLocaleTimeString(): {{date.toLocaleTimeString()}}</p>
<p>Date toISOString: {{date.toISOString()}}</p>

<p>Date (2018, 11): {{subDate}}</p>
<p>Date.getMonth() January is 0: {{date.getMonth()}}</p>
<p>Date.getDay() Sunday is 0, Monday is 1: {{date.getDay()}}</p>
<p>Date.getTimezoneOffset() in minutes: {{date.getTimezoneOffset()}}</p>